*.mode1v3

# xcode
*.pbxuser
*.perspectivev3
xcuserdata
xcshareddata
build
*.app
*.a

# OSX
.DS_Store

# codeblocks
*.layout
appUtilsExample/obj

# Win
*.exe
*.dll
*.lib

# Codeblocks
*.depend

# Visual Studio
*.exp
*.ilk
*.pdb
*.sdf
*.v11.suo
