# libs
*.a

# OSX
.DS_Store
*.app

# win
*.exe
*.dll
*.lib

# xcode
*.pbxuser
*.perspectivev3
xcuserdata
xcshareddata
build
*.mode1v3

# codeblocks
*.layout
*.depend

# visual studio
*.exp
*.ilk
*.pdb
*.sdf
*.v11.suo

# examples
appUtilsExample/obj
appUtilsExample/bin/libs
appUtilsExample/bin/appUtilsExample
appUtilsExample/bin/appUtilsExample_debug
appUtilsExample/Makefile
appUtilsExample/Project.xcconfig
appUtilsExample/appUtilsExample.xcodeproj/
appUtilsExample/config.make
appUtilsExample/openFrameworks-Info.plist

appUtilsIOSExample/Project.xcconfig
appUtilsIOSExample/appUtilsIOSExample.xcodeproj/
appUtilsIOSExample/ofxiOS-Info.plist
appUtilsIOSExample/ofxiOS_Prefix.pch
appUtilsIOSExample/bin/data/*.png
